/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
/*.cd-container {*/
/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
/*  width: 90%;*/
/*  max-width: 1170px;*/
/*  margin: 0 auto;*/
/*}*/
/*.cd-container::after {*/
/* clearfix */
/*  content: '';*/
/*  display: table;*/
/*  clear: both;*/
/*}*/
/* -------------------------------- 

Main components 

-------------------------------- */
#cd-timeline {
  position: relative;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 10;
  left: 18px;
  height: 90%;
  width: 3px;
  background: #bdbdbd;
  -moz-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  -webkit-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  box-shadow: inset 0 -100px 100px -30px #e3e3e3;
}
@media only screen and (min-width: 600px) {
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
    -moz-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
    -webkit-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
    box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  }
}
@media only screen and (max-width: 600px) {
  #cd-timeline::before {
    display: none;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 0px !important;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: -8px;
  background-color: #00a9ff;
}

.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 30px solid transparent;
  border-right: 30px solid white;
  border-top: 0px;
}
@media only screen and (min-width: 600px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 600px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 0px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    margin-left: 60px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 0px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 600px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}




/*
|----------------------------------------------------------------------------
| EDUCATION
|----------------------------------------------------------------------------
*/


#ed-timeline {
  position: relative;
}
#ed-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 10;
  left: 18px;
  height: 90%;
  width: 3px;
  background: #bdbdbd;
  -moz-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  -webkit-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  box-shadow: inset 0 -100px 100px -30px #e3e3e3;
}
@media only screen and (min-width: 600px) {
  #ed-timeline::before {
    left: 50%;
    margin-left: -2px;
    -moz-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
    -webkit-box-shadow: inset 0 -100px 100px -30px #e3e3e3;
    box-shadow: inset 0 -100px 100px -30px #e3e3e3;
  }
}
@media only screen and (max-width: 600px) {
  #ed-timeline::before {
    display: none;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 0px !important;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: -8px;
  background-color: #00a9ff;
}

.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0px;
  padding: 1em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 30px solid transparent;
  border-right: 30px solid white;
  border-top: 0px;
}
@media only screen and (min-width: 600px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more,
  .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.paper-white-box {
	background: #fefefe;
    padding: 2px 2px 2px 2px;
    height: auto;
    position: relative;
    box-shadow: 3px 3px 3px 3px #ccc;
	margin-top: 15px;
	border-radius: .5em .5em .5em .5em;
  }

  .misctime
  {	
    color: #2196f3;
	font-size: 16px;
	line-height: 34px;
  }

    .pubtitle {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 20px;
    font-weight: 300;
  }

  
  .puballtitle {
	cursor:pointer;
	float:left;
	clear:left;
  }
 
  .pubauthor {
    font-size: small;
	padding-bottom: 2px;
  }

    .honortitle {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 20px;
    font-weight: 300;
  }
  
	.honor-title {
		text-align: center;
	}


  .misctitle {
	left:0;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 30px;
    font-weight: 300;
  }

  .honor-white-box {
	background: #fefefe;
    padding: 25px 25px 25px 25px;
    height: auto;
    position: relative;
	margin-top: 15px;
    box-shadow: 3px 3px 3px 3px #ccc;
	
	border-radius: .5em .5em .5em .5em;
  }
  

  .label-info {
    background-color: #2196f3;
}

.label {
	
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

@media only screen and (max-width: 600px) {
.links-box {
	width:100%;
	overflow:hidden;
 
  }

}
@media only screen and (min-width: 600px) {
  .white-box {
	background: #fefefe;
    padding: 15px 15px 80px 35px;
    min-height: 90px;
    position: relative;
	min-width:100%;
  }

  
  .links-box {
	border-top-color: #03cc85;  
	position: absolute;
    bottom: 0;
    right: 0;
   text-align: center;
    border-top: 1px ;
	border-left:1px ;
	float:left;
  }
  
  .link {
	color: #9b9b9b;
    padding: 5px 15px;
    float: right;
    font-size: 18px;
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
	cursor:pointer;
  }
  
  .link:hover {
	background-color: #A8A8A8;
  }

  

  .abstracttop
   {
	   padding: 7px 45px 15px 40px;
	   background: #fefefe;
		border-top: thin solid #A5A5A5;
		    position: relative;
		cursor:nesw-resize;
	
   }
	
  .abstract {
	display:block;
	overflow: hidden;
	font-size: small;
  }
}

  .table1 {
	  display: flex;
  }
  
  .col1 {
	  flex-shrink: 1;
	  flex-grow:1;
  }
  
  .col2 {
	flex-shrink: 0;
	flex-grow: 0;
	padding-top:10px;
  }  
}  
  .fade-in {
    -webkit-animation: fadeIn .3s ease-in 1 forwards;
	animation: fadeIn .3s ease-in 1 forwards;
	height: auto;
  }

  
  .fade-inIlan {
    -webkit-animation: fadeInIlan 1s ease-in 1 forwards;
	animation: fadeInIlan 1s ease-in 1 forwards;
	height: auto;
  }

  .fade-out {
  
	-webkit-animation: fadeOut 0.5s ease-in 1 forwards;
	
		animation: fadeOut 1s cubic-bezier(0, 0.3, 0, 1) 1 forwards;*/
	/*animation: fadeOut .3s ease-in 1 forwards;*/	
	
 }
  .fadeInitIlan{
	max-height:0;
  }
  .is-paused {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
  }
  
  .conference {
	margin-right: 10px;
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
	background-color: #f0ad4e;
  }

  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 100%;
	margin-bottom: 20px;
  }
  .cd-timeline-content::before {
    top: 0px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
    margin-left: 60px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 0px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}
@media only screen and (min-width: 600px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
